/*
анимации и прочее*/
.bombTimer{
    text-align: match-parent;
    margin: 0px auto;
    /*border-bottom: 2px solid;*/
    padding: 0px;
    display: table;
} /*стиль с таймером*/

.bombChecker {
    background-image: url("kus.jpeg");
    width: 100px;
    height: 100px;
    position: absolute;
    left: 46.1%;
    top: 85%;
} /*стиль для кнопки с кусачками*/
.wire{

} /*стиль для проводов*/